// Place all the styles related to the RepetedHits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.GameBlock{
    width: 500px;
    height: 500px;
    background-color: gray;
    // 大きさ色は後で修正する
}